* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

html {
  font-size: 16px;
}

body {
  font-family: "BIZ UDGothic", sans-serif;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}

.mini {
  font-size: 0.8rem;
}


#app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#app-header .hidden {
  display: none;
}
#app-header #title-area,
#app-header #user-area {
  display: flex;
}
#app-header #title-area #header-title {
  font-weight: 700;
  font-size: 1rem;
}
#app-header #title-area #header-title span {
  font-size: 1.2rem;
}
#app-header #user-area #header-username {
  font-weight: 700;
}
#app-header #return-button {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  
  padding: 0.3rem;
  margin: 0 0.8rem 0 0;
  width: auto;
  text-align: center;
  cursor: pointer;
  display: block;
  box-sizing: border-box;

  background-color: #e58339;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(229, 131, 57, 0.25);
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#loading-overlay.hidden {
  display: none;
}
#loading-text {
  font-size: 6rem;
  color: white;
}

.hidden {
  display: none;
}


#question-container {
  display: flex;
  flex-direction: column; /* 要素を縦に並べる（重要） */
  /*flex-wrap: wrap; /* 子要素を折り返すように設定 */
  align-items: center;
  justify-content: center; /* カードや情報を中央寄せ */
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#question-container.hidden {
  display: none;
}

#detail-area {
  width: 100%;
  font-size: 1.3rem;
  color: #333;
  font-weight: 700;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.flip-card-container {
  background-color: transparent;
  height: 200px;
  width: 100%;
  max-width: 400px;
  /* 3D効果のために必須 */
  perspective: 1000px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* カードの内側のコンテナ（実際に回転する要素） */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  /* アニメーションの時間と滑らかさを定義 */
  transition: transform 0.6s;
  /* 子要素（表裏）を3D空間に配置 */
  transform-style: preserve-3d;
}
/* JavaScriptによってこのクラスが付与されると回転する */
.flip-card-inner.flipped {
  transform: rotateY(180deg);
}
/* カードの表面と裏面の基本スタイル */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* 要素の裏側（回転して見えなくなった面）を非表示にする */
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5rem;
  box-sizing: border-box;
  
  border: 4px solid #e58339;
}
/* 表面のスタイル */
.flip-card-front {
  background-color: #fcf2e8;
  color: black;
  transform: rotateY(0deg); /* デフォルトの位置 */
}
/* 裏面のスタイル */
.flip-card-back {
  background-color: #e58339;
  color: white;
  /* 初期状態で裏面を180度回転させて隠しておく */
  transform: rotateY(180deg);
}
/*.underline {
  background: linear-gradient(transparent 50%, rgba(206, 87, 155, 0.5) 50%);
}*/
#front-content,
#back-content,
#result-correct {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
}
#front-sub-content {
  font-weight: 700;
  font-size: 0.9rem;
}
#back-question-content {
  font-weight: 700;
  font-size: 0.8rem;
}


#show-answer-btn,
#to-index-btn {
  padding: 0.6rem 1rem;
  
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #e58339;
  transition: all 0.3s ease;
}
#next-question-btn {
  padding: 0.6rem 1rem;
  
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  color: #e58339;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: white;
  transition: all 0.3s ease;
}
#disliked-add-btn {
  padding: 0.4rem 0.6rem;
  
  margin-top: 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  color: #ce579b;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: white;
  transition: all 0.3s ease;
}

#card-bottom-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#card-bottom-area button {
  padding: 0.6rem 1rem;
  
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #ce579b;
  transition: all 0.3s ease;
}

#tate-area {
  display: none;
}


@media (max-width: 600px) {
 /* #app-header {
    flex-direction: column;
    gap: 0.5rem;
  }
  */
  #loading-text {
    font-size: 4rem;
  }
}